<div class="cell links">
	<ul id="links">
		<li><a href="https://www.linkedin.com/in/mfalzon"><span class="icon fa fa-linkedin"></span><span class="label">LinkedIn</span></a></li>
		<li><a href="https://github.com/falzm"><span class="icon fa fa-github"></span><span class="label">Github</span></a></li>
		<li><a href="https://twitter.com/falzm"><span class="icon fa fa-twitter"></span><span class="label">Twitter</span></a></li>
		<li class="grow"><a href="{{ "about" | relLangURL }}">{{ i18n "about" . }}</a></li>
	</ul>
</div>
