<div class="cell publications">
	<h2>Publications</h2>

	<ul>
		<li>2011-09 [fr] <a href="https://connect.ed-diamond.com/GNU-Linux-Magazine/GLMF-143/A-la-decouverte-de-RRDtool">À la découverte de RRDtool</a> @ <a href="https://connect.ed-diamond.com/GNU-Linux-Magazine/GLMF-143">GNU/Linux Magazine #143</a></li>
		<li>2011-07 [fr] <a href="https://connect.ed-diamond.com/GNU-Linux-Magazine/GLMF-140/Plus-loin-avec-Varnish">Plus loin avec Varnish</a> @ <a href="https://connect.ed-diamond.com/GNU-Linux-Magazine/GLMF-140">GNU/Linux Magazine #140</a></li>
		<li>2011-05 [fr] <a href="https://connect.ed-diamond.com/GNU-Linux-Magazine/GLMF-138/Varnish-un-proxy-qui-vous-veut-du-bien">Varnish, un proxy qui vous veut du bien</a> @ <a href="https://connect.ed-diamond.com/GNU-Linux-Magazine/GLMF-138">GNU/Linux Magazine #138</a></li>
	</ul>
</div>
